.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

@media (max-width: 991px){
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
}