:root{
    --blue:#2a2185;
    --white:#fff;
    --gray:#f5f5f5;
    --gray2:#f7f7f7;
    --black1:#222;
    --black2:#999;
    --yellow:#ffc001;
    --orange: #ff4800;
    --green-1: oklch(0.925 0.084 155.995);
    --green-2: oklch(0.792 0.209 151.711);
    --green-3: oklch(0.627 0.194 149.214);
}